//scss
$primary-color: #ffffff;
$primary-color-darker: #A9A6AB;
$secondary-color: #F7A101;
$third-color: black;
$fourth-color: #0f0f0f;
$success-color: green;
$error-color: red;

.text--white{
    color: $primary-color;
}
.text--gray{
    color: $primary-color-darker;
}
.text--orange{
    color: $secondary-color;
}
.text--success{
    color: $success-color;
}
.text--error{
    color: $error-color;
}

.link--white{
    color: $primary-color;
    text-decoration: none;
    &:hover{
        color: $secondary-color;
    }
}
.link--orange{
    @extend .link--white;
    color: $secondary-color;
    &:hover{
        color: darken($secondary-color,10);
    }
}


.fixedwidth{
    width: 90%;
    margin: 0 auto;
}
@media(min-width:750px){
    .fixedwidth{
        width: 95%;
    }
}

.btn{
    border: none;
    border-radius: 1em;
    padding: .7em 1.2em;
    text-decoration: none;
    display: inline-block;
    font-size: .9rem;
}

.btn--readmore{
    @extend .btn;
    background-color: darken($secondary-color,5);
    color: #ffffff;
}
.btn--success{
    @extend .btn;
    background-color: lighten(green,20);
    color: #ffffff;
}

html{
    font-family: Arial, Helvetica, sans-serif
}
body{
    margin: 0;
    background-color: $fourth-color;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1em 1em 1em;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: $third-color;
    flex-wrap: wrap;
    z-index: 100;
    &_sitetitle{
        margin: 0;
    }
    &_burgermenulabel{
        font-size: 1.5em;
    }
    &_burgermenucheckbox[type=checkbox] {
        display: none;
    }
    &_burgermenucheckbox[type=checkbox]:checked ~ &_headernav {
        display: flex;
    }
    &_headernav{
        display: none;
        flex-basis: 100%;
    }
    &_linklist{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: .5em 0 0 0;
        
        &_link{
            display: flex;
            justify-content: center;
            font-size: 1.1em;
            width: 100%;
            border-top: 1px solid white;
            padding: .5em;
        }
        &_link:last-of-type{
            margin-right: 0;
            border-bottom: 1px solid white;
        }
    }
}
    

.sitetop{
    max-width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;

    &_img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        opacity: .7;
    }

    &_header{
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 1em 1em 1em;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: $third-color;
    flex-wrap: wrap;
    z-index: 100;
    }

    &_sitetitle{
        margin: 0;
    }
    &_burgermenulabel{
        font-size: 1.5em;
    }
    &_burgermenucheckbox[type=checkbox] {
        display: none;
    }
    &_burgermenucheckbox[type=checkbox]:checked ~ &_headernav {
        display: flex;
    }
    &_headernav{
        display: none;
        flex-basis: 100%;
    }
    &_linklist{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: .5em 0 0 0;
        
        &_link{
            display: flex;
            justify-content: center;
            font-size: 1.1em;
            width: 100%;
            border-top: 1px solid white;
            padding: .5em;
        }
        &_link:last-of-type{
            margin-right: 0;
            border-bottom: 1px solid white;
        }
    }
    &_textcontent{
        position: absolute;
        align-self: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: $primary-color;
        &_header{
            font-size: 3em;
            margin: 0 2rem;
            text-shadow: 3px 3px 5px #000000;
        }
        &_ruler{
            background-image: radial-gradient(circle, #f7a101, #e99501, #db8901, #cc7d00, #be7200);
            height: .3em;
            border: none;
            width: 70%;
            border-radius: 50%;
        }
        &_description{
            margin: .5rem 2rem;
            text-shadow: 1px 3px 3px #000000;
        }
    }
    
}
@media(min-width: 750px){
    .sitetop{
        height: 100vh;
        &_textcontent_ruler{
            display: none;
        }
    }
    .header{
        &_headernav{
            display: flex;
            flex-basis: initial;
        }
        &_burgermenulabel{
            display: none;
        }
        &_linklist{
            flex-direction: row;
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            
            &_link{
                margin-right: 1em;
                width: initial;
                border: none;

            }
            &_link:last-of-type{
                margin-right: 0;
                border: none;
            }
        }
    }
}


.mailinglist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $third-color;
    text-align: center;
    &_form{
        display: flex;
        justify-content: center;
        min-width: 100px;
        min-height: 2em;
        padding: 0 0 1em 0;
        &_input{
            min-width: 100px;
            border: none;
            font-size: 1rem;
            padding: .3em 1em;
            outline: none;
            font-family: 'Open Sans', sans-serif;
        }
        &_submit{
            background-color: #131016;
            height: 100%;
            border: none;
            color: #ffffff;
            font-size: 1rem;
            padding: .5em;
            &:hover{
                background-color: lighten(#131016,10);
            }
        }
    }
}
@media(min-width:750px){
    .mailinglist{
        
        &_form{

            &_input{
                width: 40%;
            }
        }
    }
}

.footer{
    background-color: $third-color;
    &_contactinfo{
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        &_title{
            margin: 0;
        }
        &_contactlist{
            list-style-type: none;
            padding: 0;
            font-style: normal;
            margin: 0;
        }
        &_sociallinks{
            font-size: 1.8rem;
        }
    }
    &_copyright{
        display: flex;
        justify-content: center;
        padding: 0 0 1em 0; 
    }
}