.mailsuccess{
    background-color: green;
    display: flex;
    justify-content: center;
    color: white;
    max-height: 0px;
    transition: all 1s;
    padding: 0 1em;
    box-sizing: border-box; 
}
.mailsuccess--animation{
    max-height: 100px
}
.contact-sitetop{
    height: 70vh;
}
.contactform{
    margin: 2em auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: $primary-color;
    label{
        margin: 1em 0;
    }
    input{
        padding: 1em;
    }
    select{
        padding: 1em;
        width: 100%;
    }
    textarea{
        margin: 0 0 2em 0;
        padding: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
    }
}
@media(min-width: 750px){
    .contactform{
        width: 60%;
    }
}