.team{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    &_title{
        text-align: center;
        margin-bottom: 0;
    }
}
.teamgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    margin: 2em auto;
}
.teammember{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 1em;
    &:last-of-type{
        margin-bottom: 0;
    }
    &_piccontainer{
        height: 200px;
        width: 200px;
        img{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &_details{
        h2{
            margin-bottom: .4rem
        }
        p{
            margin: 0;
        }
    }
    &_fired{
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: red;
        background-color: rgba(#0A0A0A, 1);
        padding:1em;
        border-radius: 2em;
        box-sizing: border-box;
        overflow: hidden;
        transition: all 1s;
        img{
            display: block;
            height: 100%;
            width: 100%
        }
    }
}
.fadein{
    opacity: 1;
}
.ceocontainer{
    display: flex;
    justify-content: center;
}
.ceo{
    display: inline-flex;
    padding: 1em 2em;
}
.networth{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1B1D;
    padding: 1em 0;
    
    &_title{
        margin: 0;
    }
    &_valueandpercent{
        display: flex;
        margin-top: .5em;
    }
    &_value{
        margin: 0;
        display: flex;
    }
    &_percentchange{
        font-size: .9rem;
        margin-left: .4rem;
        align-self: flex-start;
        &::before{
            margin-right: .2rem;
        }
    }
    &_currencyicon{
        margin: 0;
    }
}

@media(min-width:750px){
    .teamgrid{
        display: grid;
        grid-gap: 1em;
    }
    .networth{
        flex-direction: row;
        justify-content: center;
        padding: 2em 0;
        &_title{
            margin: 0 1rem 0 0;
        }
        &_valueandpercent{
            margin-top: 0;
        }
    }
}